* {
  margin: 0;
  padding: 0;
}
body {
  background: #333;
  font-family: menlo, monaco, consolas,  monospace;
  font-size: 16px;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.terminal {
  background: rgba(0, 39, 40, 0.5);
  width: 800px;
  height: 300px;
  color: white;
  border-radius: 5px;
}
.terminal_header {
  padding: 5px 0;
  font-size: 0.75em;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
  background-color: #f8f8f8;
  color: black;
  font-weight: 300;
  background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
  background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
  background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px 1px 1px;
  border-bottom: #6a6a6a 1px solid;
}
.terminal_header a {
  color: teal;
  font-size: 16px;
}
.terminal_body {
  padding: 10px;
}
@media screen and (max-width: 960px) {
  .terminal {
    width: 460px;
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  .terminal {
    width: 300px;
    height: 400px;
  }
}
